{% extends "base.html" %}

{% block content %}

<style>
    .block{
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  center;
        width: 800px;
    }

    #objs{
        display: flex;
        justify-content: space-between;
        margin: auto;
        height: 200px;
    }
    .obj{
        text-align: center;
    }
    {% if methode != 'Algorithme Polynomiale' %}
    #objs{
        width: 820px;
    }
    .brRight{
        border-right: 4px solid rgb(3, 239, 98);
        padding-right: 40px;
    }
    {% endif %}
    h2{
        color: rgb(3, 239, 98);
        font-size: 32px;
    }
    .nbTaches{
        padding: 7px;
        border: 2px solid rgb(252, 206, 13);
        border-radius: 20px/50px;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
    }
    .nbTaches:hover{
        background-color: rgb(252, 206, 13);
        color: #05192D;
        font-weight: bold;
    }
    form{
        margin-top: 10px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    #upload{
        padding: 7px;
        border: 2px solid white;
        border-radius: 3px;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        width: 260px;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
    }
    #upload:hover{
        background-color: white;
        color: #05192D;
        font-weight: bold;
    }
    #notice{
        padding: 7px;
        border: 2px solid white;
        border-radius: 3px;
        font-size: 18px;
        background-color: white;
        color: #05192D;
        text-decoration: none;
        width: 500px;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    input[type='submit']{
        cursor: pointer;
        border-radius: 3px;
        padding: 5px;
        background-color: rgb(3, 239, 98);
        border: none;
        font-family: montserrat;
        color: #05192D;
        font-weight: bold;
    }
    input[type='submit']:hover{
        background-color: rgb(75, 245, 143);
    }
    select{
        padding: 5px;
        font-family: montserrat;
        color: #05192D;
        font-weight: bold;
        cursor: pointer;
    }
    #retour{
        padding: 5px;
        background-color: rgb(3, 239, 98);
        color: #05192D;
        font-weight: bold;
        border-radius: 3px;
        text-decoration: none;
        margin-bottom: 20px
    }
    #retour:hover{
        background-color: rgb(75, 245, 143);
    }
    button{
        border: 2px solid rgb(239, 255, 246);
        padding: 5px;
        margin-bottom: 10px;
        background-color: #05192D;
        color: rgb(3, 239, 98);
        font-family: montserrat;
    }
    #down{
        background-color: #ff1e00;
        border: none;
        color: #05192D;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        font-size: 14px;
        font-family: montserrat;
        margin-bottom: 33px;
    }
    #down:hover{
        background-color: #e0321a;
    }
    .tache{
        background-color: rgb(3, 239, 98);
        color: #05192D;
        font-weight: bold;
    }

    



    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
      }

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

    .popup {
        margin: 70px auto;
        height: 120px;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 50%;
        position: relative;
        transition: all 5s ease-in-out;
      }
      
      .popup h2 {
        margin-top: 0;
        color: #05192D;
        font-family: Tahoma, Arial, sans-serif;
        margin-bottom: 50px;
      }

      .poplink{
        text-decoration: none;
        color: #05192D;
        border: 1px #05192D solid;
        padding: 10px;
        border-radius: 20px/50px;
        margin: 10px;
        margin-bottom: 50px;
      }

      .poplink:hover{
        background-color: #05192D;
        color:rgb(3, 239, 98);
      }

      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
      }
      .popup .close:hover {
        color: rgb(3, 239, 98);
      }

</style>

<h1 style="margin-bottom: 20px;">{{methode}}</h1>

{% if methode == 'Programmation Dynamique' %}

    {% set type = 'views.DP' %}

{% elif methode == 'Métaheuristique' %}

    {% set type = 'views.meta' %}

{% else %}

    {% set type = 'views.poly' %}

{% endif %}


<div class="block" id="block">

    <script>
        $(document).ready(function() {
            $("#down").click(function() {
                $("html, body").animate({
                    scrollTop: $(
                      'html, body').get(0).scrollHeight
                }, 1000);
            });
        });
    </script>

    {% if resultat is defined %}
    <button id="down">
        Afficher les Résultats <br>
        <i class="fas fa-angle-double-down" style="margin-top: 5px;"></i>
    </button>
    {% endif %}

    <a href="{{ url_for('views.home') }}" id="retour">
        <i class="fas fa-backward"></i>
        Retour
    </a>

    <div id="objs">
        <div class="obj brRight">
            <h2>Objectif 1</h2>
            <a  href="{{ url_for(type, obj=1, nbTaches=10) }}" class="nbTaches">P1_n10</a>
            <a href="{{ url_for(type, obj=1, nbTaches=50) }}" class="nbTaches">P1_n50</a>
            <a href="{{ url_for(type, obj=1, nbTaches=200) }}" class="nbTaches">P1_n200</a>
            <a href="{{ url_for(type, obj=1, nbTaches=500) }}" class="nbTaches">P1_n500</a>
        </div>
        {% if methode != 'Algorithme Polynomiale' %}
        <div class="obj">
            <h2>Objectif 2</h2>
            <a href="{{ url_for(type, obj=2, nbTaches=10) }}" class="nbTaches">P2_n10</a>
            <a href="{{ url_for(type, obj=2, nbTaches=100) }}" class="nbTaches">P2_n100</a>
            <a href="{{ url_for(type, obj=2, nbTaches=200) }}" class="nbTaches">P2_n200</a>
            <a href="{{ url_for(type, obj=2, nbTaches=500) }}" class="nbTaches">P2_n500</a>
        </div>
        {% endif %}
    </div>


    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Quelle option voulez-vous choisir ?</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <a href="{{ url_for(type, obj=1, nbTaches=10) }}" class="poplink">Afficher Une seule Solution</a>
                <a href="{{ url_for(type, obj=1, nbTaches=10) }}" class="poplink">Afficher Toutes Les Solution Possibles</a>
            </div>
        </div>
    </div>



    <form action = "{{ url_for('views.upload', algo=methode) }}" method = "POST" enctype = "multipart/form-data">
        <input  type = "file" name = "file" hidden/>
        <label id="upload" for="upload">
            Charger Votre Propre Fichier
            <i class="fas fa-upload"></i>
        </label> <br>
        <select id="obj" name="obj" style="width:280px;margin: auto;">
            <option value="obj1">Objectif 1</option>
            {% if methode != 'Algorithme Polynomiale' %}
                <option value="obj2">Objectif 2</option>
            {% endif %}
        </select> <br>
        <label id="notice" for="obj" style="font-size: 15px; line-height: 1.4;">
            Le fichier <span style="color: red;font-weight: bold;">TXT</span> doit comporter dans la première ligne <b>le nombre de tâches</b>, dans la 
            deuxième ligne <b>la durée de chaque tâche</b> et dans la troisième ligne la date d'échéance de chaque tâche et pour 
            <span style="color: red;font-weight: bold;">l'objectif 2</span>, en plus de ces trois lignes, vous devez ajouter une quatrième ligne 
            qui contient <b>les poids alpha_i</b>. et une cinquième qui comporte <b>les poids beta_i</b>.
        </label>
        <input type = "submit" value = "valider" style="width:180px;margin: auto;"/>
    </form>
    

    {% if resultat is defined %}
    <div>
        <p style="line-height: 1.7;">                    
            La solution de la fonction objectif est : <span style="font-size:18px;color:rgb(3, 239, 98);">{{ resultat[0] }}</span> <br>
            Le temps d'exécution est : <span style="font-size:18px;color:rgb(3, 239, 98);">{{ resultat[2] }} s</span> <br><br>
        </p>
            <div style="text-align: center; margin-bottom: 20px;">
                <button>Temps de début</button><button class="tache">Numéro de la Tache</button><button>Temps de fin</button>
            </div>

            {% for tache in resultat[1] %}
                <button>{{tache[1]}}</button><button class="tache">{{tache[0]}}</button><button>{{tache[2]}}</button>
                {% if loop.index < loop.length  %}
                    <i class="fas fa-arrow-right" style="color:rgb(3, 239, 98);"></i>
                {% endif %}
            {% endfor %}
            <br><br>
            
            
    {% endif %}

        
    </div>
</div>
    
<!-- polynomiale: fff [[]] return (sequence, val) 
metaheuristic: obj1: met_fun1([[]]) return (sequence, val)
               obj2: met_fun([[]]) return (sequence, val) -->

{% endblock %}